@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1000px;
    margin: 100px auto 0;
}

.wrap .main {}

.wrap .main .your-class {
    height: 500px;
}

.wrap .main .your-class .slick-slider{
    height: 500px;
}

.wrap .main .your-class video {
    width: 100%;
}

.wrap .main .your-class .slick-arrow {
    position: absolute;
    top: calc(100% - 250px);
    left: calc(100% - 500px);
}

.wrap .main .your-class .slick-prev {}

.wrap .main .your-class .slick-next {}