@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.치료::after {
    content: "";
    clear: both;
    display: block;
}

.전체 {
    color: red;
    width: 1000px;
    margin: 0 auto 0;
    padding: 20px;
    margin-top: 30px;
}

.전체 .첫째 {
    background-color: #B08BBB;
    padding: 20px;

}

.전체 .첫째 .첫자 {
    background-color: #3C79F5;
    width: 32%;
    height: 200px;
    float: left;
    margin-right: 2%;
    position: relative;
}

.전체 .첫째 .첫자.첫자1 {
    position: relative;
}

.전체 .첫째 .첫자.첫자1 .하 {
    background-image: url(../image/img1.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
    position: relative;
}

.전체 .첫째 .첫자.첫자1 .하 h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.전체 .첫째 .첫자.첫자1:hover .상 {
    background-image: url(../image/img2.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    /* position: absolute;되면 자식의 공간만 차지 
    넓이 다시 설정해야한다.*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
}


.전체 .첫째 .첫자.첫자1 .상 h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.전체 .첫째 .첫자.첫자2 {}

.전체 .첫째 .첫자.첫자3 {
    margin-right: 0;
}

.전체 .첫째 .첫자1 .첫자손 {
    background-color: red;
}