@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
}

.wrap {}

.wrap .container {
    width: 800px;
    margin: 0 auto;
}

.wrap .container .slick .slick-slide {
    height: 200px;
}

.wrap .container .slick .slick-slide img {
    width: 100%;
}

.wrap .container .slick-prev {
    width: 100%;
}