* {
    margin: 0px;
    padding: 0px;
}

.박일수 {
    background-color: #EB455F;
}

.박일수 .박첫째 {
    background-color: aqua;
}

.박일수 .박첫째 .자식.첫째자식1 {
    background-color: red;
}

.박일수 .박첫째 .자식.첫째자식2 {
    background-color: pink;
}


.박일수 .박둘째 {
    background-color: #FFD4B2;
}

.박일수 .박셋째 {
    background-color: #ADA2FF;
}