@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#전체 {
    background-color: coral;
    padding: 20px;
    margin: 0 auto;
    width: 800px;
}

#전체 .첫째자식 {
    background-color: chartreuse;
    position: relative;
}

#전체 .첫째자식 .첫째손자 {
    background-color: darkmagenta;
    height: 200px;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
}

#전체 .첫째자식 .첫손2 {
    background-color: green;
    opacity: 0;
    /* 투명도 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.3s;
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
}

#전체 .첫째자식:hover .첫손2 {
    opacity: 1;
}