@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.전체 {
    background-color: gray;
    width: 600px;
    border: 5px solid #000;
    margin-left: 100px;
}

.전체>div {
    width: 150px;
    height: 150px;
}

.전체 .pink {
    background-color: pink;
}

.전체 .green {
    background-color: green;
}

.전체 .red {
    background-color: red;
}

.전체 .blue {
    position: fixed;
    left: 50px;
    top: 100px;
    background-color: blue;
}

.space {
    height: 2000px;
}