@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.전체 {
    background-color: gray;
    width: 600px;
    border: 5px solid #000;
    margin-left: 100px;
}

.전체>div {
    width: 150px;
    height: 150px;
}

.전체 .pink {
    background-color: pink;
    position: static;
    left: 50px;
}

.전체 .green {
    background-color: green;
    position: relative;
    /* 원래 자신의 위치를 기억
    주위에 아무런 영향을 주지 않는다. */
    left: 250px;
}

.전체 .red {
    background-color: red;
}

.전체 .blue {
    position: fixed;
    /* 윈도우기준으로 배치 */
    right: 150px;
    top: 100px;
    background-color: blue;
}

.space {
    height: 2000px;
}